/* line 6, ../scss/groups.scss */
.button-photo {
  background: rgba(0, 0, 0, 0.4);
}

/* line 11, ../scss/groups.scss */
.chapter-menu {
  margin-bottom: 0;
}
/* line 13, ../scss/groups.scss */
.chapter-menu li {
  line-height: 42px;
  vertical-align: middle;
  margin-right: 12px;
}
/* line 17, ../scss/groups.scss */
.chapter-menu li a {
  color: rgba(0, 0, 0, 0.55);
}

/* line 24, ../scss/groups.scss */
#header {
  background: #fafafa;
}
/* line 26, ../scss/groups.scss */
#header .doc-bounds {
  padding: 12px 30px;
}
/* line 29, ../scss/groups.scss */
#header #logo {
  width: 68px;
  height: 45px;
}

@media only screen and (max-width: 500px) {
  /* line 38, ../scss/groups.scss */
  #header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 47px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* line 45, ../scss/groups.scss */
  #header #logo {
    width: 46px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 8px;
  }
  /* line 52, ../scss/groups.scss */
  #header .doc-bounds {
    padding: 0 12px;
    line-height: 47px;
    vertical-align: middle;
  }

  /* line 58, ../scss/groups.scss */
  body {
    padding-top: 47px;
  }
}
/* line 66, ../scss/groups.scss */
#groupList {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 73, ../scss/groups.scss */
.fillable, .filled {
  height: 38px;
  width: 34px;
  margin: 0 auto;
  background-position: center center;
  display: inline-block;
}

/* line 80, ../scss/groups.scss */
.filled {
  -moz-transform: scale(0) rotate(120deg);
  -ms-transform: scale(0) rotate(120deg);
  -webkit-transform: scale(0) rotate(120deg);
  transform: scale(0) rotate(120deg);
  -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 84, ../scss/groups.scss */
.filled.on {
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}

/* line 90, ../scss/groups.scss */
.followable {
  background-image: url(../css/follow_divided.svg);
}
/* line 92, ../scss/groups.scss */
.followable .filled {
  background-image: url(../css/following_divided.svg);
}
/* line 96, ../scss/groups.scss */
.primary .followable {
  background-image: url(../css/follow_divided_white.svg);
}

/* line 102, ../scss/groups.scss */
.red {
  color: #e2373c;
}

/* line 106, ../scss/groups.scss */
.followlabel {
  text-transform: uppercase;
  font-size: 8px;
  color: #aaa;
  text-align: center;
}

/* line 114, ../scss/groups.scss */
.group .fix {
  text-align: center;
  padding: 12px 8px;
  min-width: 48px;
}

/* line 124, ../scss/groups.scss */
.hideable {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 20em;
  vertical-align: top;
}
/* line 132, ../scss/groups.scss */
.hideable.hid {
  max-width: 0;
}

/* line 138, ../scss/groups.scss */
.button.ghost, .button.ghost:hover {
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: transparent;
  color: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 149, ../scss/groups.scss */
.diffword .diff1, .diffword .diff2, .diffword del, .diffword ins {
  display: inline-block;
  overflow: hidden;
  max-width: 0;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 156, ../scss/groups.scss */
.diffword.show_diff1 .diff1 {
  max-width: 1em;
}
/* line 162, ../scss/groups.scss */
.diffword.show_diff2 .diff2 {
  max-width: 1em;
}

/* line 173, ../scss/groups.scss */
.join-button-wrap {
  overflow: hidden;
  height: 40px;
  position: relative;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 178, ../scss/groups.scss */
.join-button-wrap .button, .join-button-wrap .joinword {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 183, ../scss/groups.scss */
.join-button-wrap .button {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  margin-bottom: 4px;
}
/* line 187, ../scss/groups.scss */
.join-button-wrap .button.on {
  opacity: 1;
}
/* line 191, ../scss/groups.scss */
.join-button-wrap .joinword {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  opacity: 0;
  font-weight: bold;
}
/* line 196, ../scss/groups.scss */
.join-button-wrap .joinword.on {
  opacity: 1;
}

/*
#catList{
	li{
		$r: 3px;
        
		.photo-button{
			width: 100%; 
			height: 120px;
			position: relative;
            @include border-radius($r);
            background: #fff;
		}
		.photo-button-check{
			@include border-radius($r);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			//background-image: url(../css/check.png); 
			background-size: 100%; 
			@include box-sizing(border-box); 
			
	   		 $grad_lead_in: 30%;
	   		 $grad_0: rgba(22, 24, 27, 0);
	   		 $grad_2: rgba(22, 24, 27, .9);
	   		 background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop( $grad_lead_in, $grad_0), color-stop(100%, $grad_2));
	   		 background: -webkit-linear-gradient(top, $grad_0  $grad_lead_in, $grad_2);
	   		 background: -moz-linear-gradient(top, $grad_0  $grad_lead_in, $grad_2);
	   		 background: -o-linear-gradient(top, $grad_0 $grad_lead_in, $grad_2);
	   		 background: -ms-linear-gradient(top, $grad_0 $grad_lead_in, $grad_2);
	   		 background: linear-gradient(top, $grad_0 $grad_lead_in, $grad_2);
             //opacity: .3;
             
		}
		.photo-button-photo{
			@include border-radius($r);
			//@include filter( grayscale(50%) );	
			height: 100%;
			width: 100%;	
			position: absolute;
			top: 0;
			left: 0;
			@include background-size(cover);
            //opacity: .5;
            	
		}
		.photo-button-label{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			color: #fff;
			font-weight: bold;
			//text-align: center;
			@include box-sizing(border-box); 
		}
		
		&.on{
			.photo-button-photo{
                //opacity: 1;
				//@include filter( grayscale(0%) );
				
			}
			.photo-button-check{
                //opacity: 1;
				border: 8px solid $C_blue;
				//background-color: $C_overlayPressed;
				&:after{
					background-image: url(../css/check_on.png);   
					background-size: 100%;
					background-repeat: no-repeat;
					content: "";
					display: block;
					position: absolute;
					right: -1px;
					top: -1px;
					height: 32px;
					width: 33px;
				}
			}
		}
	}
}
*/
/* line 304, ../scss/groups.scss */
.cats {
  text-align: center;
  text-justify: inter-word;
  position: relative;
}
/* line 308, ../scss/groups.scss */
.cats .cat {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 112.5px;
  height: 112.5px;
  text-align: center;
  backface-visibility: hidden;
  background: blue;
  -moz-transition: background 0s linear, -moz-transform 0.2s;
  -o-transition: background 0s linear, -o-transform 0.2s;
  -webkit-transition: background 0s linear, -webkit-transform 0.2s;
  transition: background 0s linear, transform 0.2s;
}
/* line 319, ../scss/groups.scss */
.cats .cat.on {
  background: white;
}
/* line 322, ../scss/groups.scss */
.cats .cat .count {
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -16px;
  background: red;
  color: #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  line-height: 32px;
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 500px) {
  /* line 340, ../scss/groups.scss */
  .cats .cat {
    width: 100%;
    height: auto;
    line-height: 3em;
  }
  /* line 346, ../scss/groups.scss */
  .cats .topics .topic {
    font-size: 12px;
    max-width: 10em;
  }
}
/* line 355, ../scss/groups.scss */
.cats .topics {
  line-height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 363, ../scss/groups.scss */
.cats .topics .topic {
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  padding: 0 1em;
  line-height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  background: white;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-transition: all 0.2s, opacity 0s, background 0s, color 0s;
  -o-transition: all 0.2s, opacity 0s, background 0s, color 0s;
  -webkit-transition: all 0.2s, opacity 0s, background 0s, color 0s;
  transition: all 0.2s, opacity 0s, background 0s, color 0s;
}
/* line 378, ../scss/groups.scss */
.cats .topics .topic.on {
  background: cornflowerblue;
  color: white;
}
