/* line 25, ../scss/patch.scss */
.inverted {
  color: rgba(255, 255, 255, 0.67);
}

/* line 29, ../scss/patch.scss */
h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.95);
}
/* line 31, ../scss/patch.scss */
.inverted h1, .inverted h2, .inverted h3, .inverted h4, .inverted h5, .inverted h6 {
  color: white;
}

/* line 36, ../scss/patch.scss */
.inverted input, .inverted textarea, .inverted select {
  border-color: rgba(255, 255, 255, 0.2);
  background: #353e47;
  color: white;
}

/* line 44, ../scss/patch.scss */
.doc-stripe {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 47, ../scss/patch.scss */
.doc-stripe:first-child {
  border-top: 0;
}

/* line 52, ../scss/patch.scss */
.doc-bounds, .doc-bounds--medium, .doc-bounds--narrow {
  max-width: 1040px;
  margin: 0 auto;
  padding: 30px 30px 12px;
  word-wrap: break-word;
}
/* line 11, ../scss/patch.scss */
.doc-bounds:before, .doc-bounds--medium:before, .doc-bounds--narrow:before, .doc-bounds:after, .doc-bounds--medium:after, .doc-bounds--narrow:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 16, ../scss/patch.scss */
.doc-bounds:after, .doc-bounds--medium:after, .doc-bounds--narrow:after {
  clear: both;
}
@media only screen and (max-width: 500px) {
  /* line 52, ../scss/patch.scss */
  .doc-bounds, .doc-bounds--medium, .doc-bounds--narrow {
    padding: 24px 12px 12px;
  }
}

/* line 63, ../scss/patch.scss */
.doc-bounds--medium {
  max-width: 600px;
}

/* line 68, ../scss/patch.scss */
.doc-bounds--narrow {
  max-width: 420px;
}

/* line 79, ../scss/patch.scss */
.doc-bounds--600 {
  max-width: 600px;
}

/* line 83, ../scss/patch.scss */
.doc-box {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, 0.1);
}

/*
.line, .line-gutters{
	display: -webkit-box;
	display: -moz-box;
	display: box;
    .unit{
        display: block;
    }
}
*/
/* line 101, ../scss/patch.scss */
.line-gutters {
  margin-bottom: 0;
}

/* line 105, ../scss/patch.scss */
.line-gutters.wide {
  margin-right: -30px;
}
/* line 108, ../scss/patch.scss */
.line-gutters.wide > .unit {
  padding-right: 30px;
}

/* line 113, ../scss/patch.scss */
.dividedList > li:first-child {
  border-top: 0;
  padding-top: 0;
}

/* line 118, ../scss/patch.scss */
.doc-content {
  padding-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.1);
}
/* line 11, ../scss/patch.scss */
.doc-content:before, .doc-content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 16, ../scss/patch.scss */
.doc-content:after {
  clear: both;
}
/* line 122, ../scss/patch.scss */
.inverted .doc-content {
  border-top-color: rgba(255, 255, 255, 0.2);
}

/* line 128, ../scss/patch.scss */
.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
}
/* line 138, ../scss/patch.scss */
.page.off {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
/* line 141, ../scss/patch.scss */
.page .page-header {
  background: rgba(255, 255, 255, 0.1);
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 153, ../scss/patch.scss */
.page .page-body {
  min-height: 100%;
  padding-top: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 161, ../scss/patch.scss */
.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 5;
  padding-top: 40px;
}
/* line 173, ../scss/patch.scss */
.panel.off {
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  opacity: 0;
}
/* line 179, ../scss/patch.scss */
.panel .nametag-photo, .panel .nametag-photo-name, .panel .button, .panel .button--facebook, .panel #panel-groupinfo-close {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 184, ../scss/patch.scss */
.shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 3;
}
/* line 196, ../scss/patch.scss */
.shade.off {
  opacity: .01;
}

/* line 204, ../scss/patch.scss */
.big {
  font-size: 18px;
}

/* line 208, ../scss/patch.scss */
.bg-gray {
  background-color: #e7e7e7;
}

/* line 211, ../scss/patch.scss */
.bg-black {
  background-color: #333333;
}

/* line 214, ../scss/patch.scss */
.bg-red {
  background-color: #e2373c;
}

/* line 218, ../scss/patch.scss */
.nobustout {
  overflow: hidden;
}

/* line 222, ../scss/patch.scss */
.breakwords {
  word-wrap: break-word;
}

/* line 226, ../scss/patch.scss */
.margin-minimal {
  margin-bottom: 6px;
}

/* line 230, ../scss/patch.scss */
.less {
  color: rgba(0, 0, 0, 0.47);
}
/* line 232, ../scss/patch.scss */
.inverted .less {
  color: rgba(255, 255, 255, 0.47);
}

/* line 236, ../scss/patch.scss */
.clickable {
  cursor: pointer;
}

/* line 240, ../scss/patch.scss */
.nobreak {
  white-space: nowrap;
}

/* line 245, ../scss/patch.scss */
.nametag-photo {
  width: 100%;
  background-position: center 40%;
}

/* line 251, ../scss/patch.scss */
.nametag-photo-name {
  padding: 0;
  padding-top: 20px;
}

/* line 259, ../scss/patch.scss */
.blockList {
  margin: 0 -12px 0 0;
  padding: 0;
  list-style: none;
}
/* line 263, ../scss/patch.scss */
.blockList li {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  padding: 0 12px 12px 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 274, ../scss/patch.scss */
.blockList.has6 li {
  width: 16.66667%;
}
/* line 274, ../scss/patch.scss */
.blockList.has5 li {
  width: 20%;
}
/* line 274, ../scss/patch.scss */
.blockList.has4 li {
  width: 25%;
}
/* line 274, ../scss/patch.scss */
.blockList.has3 li {
  width: 33.33333%;
}
/* line 274, ../scss/patch.scss */
.blockList.has2 li {
  width: 50%;
}
/* line 274, ../scss/patch.scss */
.blockList.has1 li {
  width: 100%;
}
@media only screen and (min-width: 501px) and (max-width: 899px) {
  /* line 279, ../scss/patch.scss */
  .blockList.has6-at-medium li {
    width: 16.66667%;
  }
  /* line 279, ../scss/patch.scss */
  .blockList.has5-at-medium li {
    width: 20%;
  }
  /* line 279, ../scss/patch.scss */
  .blockList.has4-at-medium li {
    width: 25%;
  }
  /* line 279, ../scss/patch.scss */
  .blockList.has3-at-medium li {
    width: 33.33333%;
  }
  /* line 279, ../scss/patch.scss */
  .blockList.has2-at-medium li {
    width: 50%;
  }
  /* line 279, ../scss/patch.scss */
  .blockList.has1-at-medium li {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 285, ../scss/patch.scss */
  .blockList.has6-at-handheld li {
    width: 16.66667%;
  }
  /* line 285, ../scss/patch.scss */
  .blockList.has5-at-handheld li {
    width: 20%;
  }
  /* line 285, ../scss/patch.scss */
  .blockList.has4-at-handheld li {
    width: 25%;
  }
  /* line 285, ../scss/patch.scss */
  .blockList.has3-at-handheld li {
    width: 33.33333%;
  }
  /* line 285, ../scss/patch.scss */
  .blockList.has2-at-handheld li {
    width: 50%;
  }
  /* line 285, ../scss/patch.scss */
  .blockList.has1-at-handheld li {
    width: 100%;
  }
}

/* line 295, ../scss/patch.scss */
.thumb-20 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 20px;
  height: 20px;
  background-position: center center;
}

/* line 295, ../scss/patch.scss */
.thumb-30 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 30px;
  height: 30px;
  background-position: center center;
}

/* line 295, ../scss/patch.scss */
.thumb-40 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 40px;
  height: 40px;
  background-position: center center;
}

/* line 295, ../scss/patch.scss */
.thumb-50 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 50px;
  height: 50px;
  background-position: center center;
}

/* line 295, ../scss/patch.scss */
.thumb-60 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 60px;
  height: 60px;
  background-position: center center;
}

/* line 295, ../scss/patch.scss */
.thumb-80 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 80px;
  height: 80px;
  background-position: center center;
}

/* line 295, ../scss/patch.scss */
.thumb-120 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 120px;
  height: 120px;
  background-position: center center;
}

/* line 295, ../scss/patch.scss */
.thumb-160 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 160px;
  height: 160px;
  background-position: center center;
}

/* line 311, ../scss/patch.scss */
.avatar-20 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-position: center center;
}

/* line 311, ../scss/patch.scss */
.avatar-30 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-position: center center;
}

/* line 311, ../scss/patch.scss */
.avatar-40 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  background-position: center center;
}

/* line 311, ../scss/patch.scss */
.avatar-50 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-position: center center;
}

/* line 311, ../scss/patch.scss */
.avatar-60 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  background-position: center center;
}

/* line 311, ../scss/patch.scss */
.avatar-80 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  border-radius: 80px;
  background-position: center center;
}

/* line 311, ../scss/patch.scss */
.avatar-120 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  border-radius: 120px;
  background-position: center center;
}

/* line 311, ../scss/patch.scss */
.avatar-160 {
  background-color: #353e47;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: 12px;
  width: 160px;
  height: 160px;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  border-radius: 160px;
  background-position: center center;
}

/* line 326, ../scss/patch.scss */
.hscroll-wrap {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  margin-left: -12px;
  margin-right: -12px;
}
/* line 331, ../scss/patch.scss */
.hscroll-wrap .hscroll {
  padding-left: 12px;
  padding-right: 12px;
}

/* line 338, ../scss/patch.scss */
.fixflex {
  display: table;
  width: 100%;
}
/* line 341, ../scss/patch.scss */
.fixflex .fix, .fixflex .flex {
  display: table-cell;
  vertical-align: top;
}
/* line 345, ../scss/patch.scss */
.fixflex .fix {
  width: 1%;
}
/* line 348, ../scss/patch.scss */
.fixflex .flex {
  width: auto;
}

/* line 354, ../scss/patch.scss */
.button-flat, .button-flat--gray, .button-flat--white, .button-flat--black, .button-flat--red, .button-photo, .button-photo--white, .button, .button--facebook, button, input[type="submit"], .primary, .button.primary, .primary.button--facebook, .button--primary, input[type="submit"].primary, input[type="submit"].button--primary, .button--black, input[type="submit"].button--black, .button--white, .button--blue, input[type="submit"].button--blue {
  padding: 11px 18px 9px 18px;
  line-height: 22px !important;
}

/* line 359, ../scss/patch.scss */
.button-flat {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 363, ../scss/patch.scss */
.button--facebook {
  background: #3b5998;
}

/* line 370, ../scss/patch.scss */
.tabs {
  line-style: none;
  color: rgba(0, 0, 0, 0.47);
  margin: 0 0 12px;
  padding: 0;
  display: block;
}
/* line 376, ../scss/patch.scss */
.tabs li {
  padding: 0;
  margin: 0 0 0 12px;
  cursor: pointer;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
/* line 383, ../scss/patch.scss */
.tabs li:first-child {
  margin-left: 0;
}
/* line 386, ../scss/patch.scss */
.inverted .tabs li {
  color: rgba(255, 255, 255, 0.47);
}
/* line 389, ../scss/patch.scss */
.tabs li.selected {
  color: #e2373c;
  border-bottom: 2px solid #e2373c;
}
/* line 395, ../scss/patch.scss */
.tabs.full {
  display: table;
  width: 100%;
}
/* line 398, ../scss/patch.scss */
.tabs.full li {
  display: table-cell;
  margin: 0;
  text-align: center;
}

/* line 408, ../scss/patch.scss */
.pill {
  background: #3987cb;
  color: white;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  line-height: 1em;
  vertical-align: middle;
  font-size: .8em;
  text-transform: uppercase;
}

/* line 422, ../scss/patch.scss */
.grid-test {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  margin-right: -24px;
}
/* line 427, ../scss/patch.scss */
.grid-test .unit-test {
  padding-right: 24px;
}
@media only screen and (max-width: 500px) {
  /* line 422, ../scss/patch.scss */
  .grid-test {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    box-direction: reverse;
    margin-right: 0;
  }
  /* line 438, ../scss/patch.scss */
  .grid-test .unit-test {
    width: auto;
    padding-right: 0;
    padding-bottom: 1px;
  }
}

@media only screen and (max-width: 500px) {
  /* line 461, ../scss/patch.scss */
  .line.linear-at-handheld, .line.linear-at-medium, .line-gutters.linear-at-handheld, .line-gutters.linear-at-medium {
    margin-right: 0;
  }
  /* line 449, ../scss/patch.scss */
  .line.linear-at-handheld > .unit, .line.linear-at-medium > .unit, .line-gutters.linear-at-handheld > .unit, .line-gutters.linear-at-medium > .unit {
    float: none;
    width: auto;
    padding-right: 0;
  }

  /* line 466, ../scss/patch.scss */
  .block-at-handheld {
    display: block;
    width: 100%;
  }

  /* line 471, ../scss/patch.scss */
  .hide-at-handheld, .hide-at-medium {
    display: none;
  }

  /* line 475, ../scss/patch.scss */
  .inlineblock-at-handheld {
    display: inline-block;
  }

  /* line 479, ../scss/patch.scss */
  .big {
    font-size: 16px;
  }

  /* line 483, ../scss/patch.scss */
  .center-at-handheld, .center-at-medium {
    text-align: center;
  }
}
@media only screen and (min-width: 501px) and (max-width: 899px) {
  /* line 493, ../scss/patch.scss */
  .line.linear-at-medium, .line-gutters.linear-at-medium {
    margin-right: 0;
  }
  /* line 449, ../scss/patch.scss */
  .line.linear-at-medium > .unit, .line-gutters.linear-at-medium > .unit {
    float: none;
    width: auto;
    padding-right: 0;
  }

  /* line 498, ../scss/patch.scss */
  .hide-at-medium {
    display: none;
  }

  /* line 502, ../scss/patch.scss */
  .center-at-medium {
    text-align: center;
  }
}
/* 
SIMPLIFIED TOUCHLIST ITEMS
They can go directly in to a .doc-card
Just like anything else
TODO: reconcile with production touchlist
*/
/* line 514, ../scss/patch.scss */
ul.doc-box {
  padding: 0;
  margin: 0;
}

/* line 518, ../scss/patch.scss */
.touchlist-item {
  display: table;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* firefox 19+ */
  /* ie */
}
/* line 522, ../scss/patch.scss */
.touchlist-item:first-child {
  border-top: none;
}
/* line 525, ../scss/patch.scss */
.touchlist-item:active {
  background: rgba(64, 197, 255, 0.2);
}
/* line 531, ../scss/patch.scss */
.touchlist-item label, .touchlist-item input, .touchlist-item select, .touchlist-item textarea, .touchlist-item .icon, .touchlist-item .dummy {
  background: none;
  display: table-cell;
  padding: 8px 8px 8px 8px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "helvetica neue", helvetica, sans-serif;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 541, ../scss/patch.scss */
.touchlist-item label:last-child, .touchlist-item input:last-child, .touchlist-item select:last-child, .touchlist-item textarea:last-child, .touchlist-item .icon:last-child, .touchlist-item .dummy:last-child {
  padding-left: 0;
}
/* line 544, ../scss/patch.scss */
.touchlist-item label:first-child, .touchlist-item input:first-child, .touchlist-item select:first-child, .touchlist-item textarea:first-child, .touchlist-item .icon:first-child, .touchlist-item .dummy:first-child {
  padding-left: 8px;
}
/* line 549, ../scss/patch.scss */
.touchlist-item label.flex, .touchlist-item input.flex, .touchlist-item select.flex, .touchlist-item textarea.flex, .touchlist-item .icon.flex, .touchlist-item .dummy.flex {
  width: auto;
}
/* line 553, ../scss/patch.scss */
.touchlist-item .icon {
  width: 1%;
}
/* line 557, ../scss/patch.scss */
.touchlist-item label {
  width: 10em;
}
/* line 560, ../scss/patch.scss */
.touchlist-item label .hint {
  display: block;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.47);
}
/* line 568, ../scss/patch.scss */
.touchlist-item input, .touchlist-item select, .touchlist-item textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0;
  outline: 0;
  font-size: 17px;
  width: 100%;
  line-height: 1.3;
}
/* line 578, ../scss/patch.scss */
.touchlist-item select {
  background-image: url(http://specialsnowflake.com/mup/style/down.png);
  background-position: right center;
  background-repeat: no-repeat;
  height: auto;
}
/* line 585, ../scss/patch.scss */
.touchlist-item input[type="checkbox"], .touchlist-item input[type="radio"] {
  background-position: right center;
  background-repeat: no-repeat;
  width: 48px;
}
/* line 590, ../scss/patch.scss */
.touchlist-item input[type="checkbox"] {
  background-image: url(http://specialsnowflake.com/mup/style/checkbox.png);
}
/* line 592, ../scss/patch.scss */
.touchlist-item input[type="checkbox"]:checked {
  background-image: url(http://specialsnowflake.com/mup/style/checkbox_checked.png);
}
/* line 596, ../scss/patch.scss */
.touchlist-item input[type="radio"] {
  background-image: url(http://specialsnowflake.com/mup/style/radio.png);
}
/* line 599, ../scss/patch.scss */
.touchlist-item input[type="radio"]:checked {
  background-image: url(http://specialsnowflake.com/mup/style/radio_checked.png);
}
/* line 605, ../scss/patch.scss */
.touchlist-item ::-webkit-input-placeholder {
  color: #999999;
  font-style: italic;
}
/* line 606, ../scss/patch.scss */
.touchlist-item ::-moz-placeholder {
  color: #999999;
  font-style: italic;
}
/* line 607, ../scss/patch.scss */
.touchlist-item :-ms-input-placeholder {
  color: #999999;
  font-style: italic;
}
/* line 608, ../scss/patch.scss */
.touchlist-item input:-moz-placeholder {
  color: #999999;
  font-style: italic;
}
/* line 611, ../scss/patch.scss */
.touchlist-item img {
  margin: 0;
  vertical-align: middle;
}
