$spacing: 12px;
$spacing-small: 8px;


$break-small: 500px;
$break-large: 900px;
@mixin respond-to($media) {
  @if $media == handheld {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// bourbon has deprecated these, so i'm cheating for the moment
@mixin border-radius($nw, $ne:$nw, $se:$nw, $sw:$nw){
    border-radius: $nw $ne $se $sw;
}
