@import 'variables';
@import 'compass/css3';

html, body{
	height: 100%;
}

.line{
	&.scrollable{
		height: 100%;
		& > .unit{
			height: 100%;
			overflow: auto;
		}
	}
}

pre.prettyprint, code.prettyprint {
	width: 100%;
	@include box-sizing(border-box);
	margin: 0 0 $spacing;
	@include border-radius(0);
	//white-space: pre-wrap;
	font-size: 10px;
	@include experimental(tab-size, 2);
	border: none;
	background: $C_backgroundNav;
}




.thesassquatch{
	$s: 140px;
	background-image: url('/css/the_sassquatch.svg');
	@include background-size($s);
	background-repeat: no-repeat;
	background-position:  #{$spacing * 1.75} top;
	position: relative;
}
.title{
	width: 100%;
	position: absolute;
	bottom: $spacing;
	left: 0;
	color: transparentize($C_red, .5);
	h2{
		color: $C_red;
	}
}

