@import 'compass/css3';
@import 'variables';

@mixin microClearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

body, html{
  padding: 0;
  margin: 0;
  font-family: "helvetica neue", helvetica, sans-serif;
  height: 100%;
  color: $C_textSecondary;
  font-size: 17px;
  line-height: 1.3;
}

.inverted{
   color: $C_textSecondaryInverted;
}

h1, h2, h3, h4, h5, h6{
  color: $C_textPrimary;
  font-weight: 500;
  .inverted &{
    color: $C_textPrimaryInverted;
  }
}

.touchheight{
	padding-top: $spacing;
}

h1{ font-size: 48px;}
h2{ font-size: 36px;}
h3{ font-size: 24px; }
h4{ font-size: 18px; }


    
    
// as a rule, blocks have bottom margin
#{elements-of-type(block)}, input, select, textarea {
  padding: 0;
  margin: 0 0 $spacing;
  &.margin-none{
    margin: 0;
  }
  &.margin-minimal{
    margin-bottom: 4px;
  }
}
// exceptions:
div{ margin: 0; }
ul{ margin-left: $spacing * 2; }



a{
	&:link, &:hover, &:active, &:visited{
		color: $C_blue;
		text-decoration: none;
	}
	&:hover{
		text-decoration: underline;		
	}
}



.nametag{
background-color: $C_backgroundContentInverted;
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
  width: 100%;
  height: 140px;
  .nametag-name{
	@include background(linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.8)));
    display: table-cell;
    vertical-align: bottom;
  }
}

.fixflex{
	display: table;
	width: 100%;
	.fix, .flex{
		vertical-align: top;
		display: table-cell;
		padding-left: $spacing;
		&:first-child{
			padding: 0;
		}
	}
	.fix{
		width: 1%;
	}
	.flex{
		width: auto;
	}
	
}

.figureset{
	display: table;
	width: 100%;
	.figureset-figure, .figureset-description{
		vertical-align: top;
		display: table-cell;
		padding-left: $spacing;
		&:first-child{
			padding: 0;
		}
	}
	.figureset-figure{
		width: 1%;
	}
	.figureset-description{
		width: auto;
	}
}

.blockList{
	margin: 0 #{-($spacing)} 0 0;
	padding: 0;
	list-style: none;
	li{
		vertical-align: top;
		display: inline-block;
		width: 50%;
		padding: 0 $spacing $spacing 0;
		margin: 0;
		@include box-sizing(border-box);
	}
	&.has3 li{
		width: 33.33%;		
	}
	&.has4 li{
		width: 25%;		
	}
	&.has5 li{
		width: 20%;		
	}
}

.dividedList{
	margin: 0 0 $spacing;
	padding: 0;
	list-style: none;
	> li{
		padding: $spacing 0 0;
		border-top: 1px solid $C_border;
		.inverted &{
			border-top: 1px solid $C_borderInverted;
		}
		&:first-child{
			border-top: none;
			padding-top: 0;
		}
	}
}

.paddedList{
	margin: 0 0 $spacing;
	padding: 0;
	list-style: none;
	li{
		padding: $spacing 0 0;
	}
}

.inlineList{
	margin: 0 0 $spacing;
	padding: 0;
	list-style: none;
	li{
		display: inline-block;
	}
}

.hscroll-wrap{
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	margin-left: -($spacing);
	margin-right: -($spacing);
	.hscroll{
		padding-left: $spacing;
		padding-right: $spacing;
	}
}

.line{
	display: table;
	width: 100%;
	margin-right: $spacing*2;
	table-layout:fixed;
	.unit{
		display: table-cell;
		vertical-align: top;
		padding-right: $spacing*2;

		$sizes: (2,3,4,5,6,7);
		@each $size in $sizes{
			@for $i from 1 through $size{
				&.size#{$i}of#{$size}{
					width:  percentage((1/$size)*$i);
				}
			}
		}
	}
}

.tabs{
	line-style: none;
	color : $C_textTertiary;
	margin: 0 0 $spacing;
	padding: 0;
	display: block;
	li{
		$lineh: 2px;
		padding: 0;
		margin: 0 0 0 $spacing;
		cursor: pointer;
		display: inline-block;
		border-bottom: $lineh solid transparent;
		&:first-child{
			margin-left: 0;
		}
		.inverted &{
			color : $C_textTertiaryInverted;			
		}
		&.selected{
			color: $C_red;
			border-bottom: $lineh solid $C_red;
			
		}
	}
	&.full{
		display: table;
		width: 100%;
		li{
			display: table-cell;
			margin: 0;
			text-align: center;
		}
	}
}

.big{
	font-size: 26px;
}
.small{
	font-size: 14px;
}
.micro{
	font-size: 10px;
}


/* LAYOUT PROPOSAL */

// doc-section is the stripe of stuff 
// that goes from screen edge to screen edge
.doc-section, .doc-section-collection{
	background: $C_backgroundContent; // need to specify due to JS that sets body to color of last doc-section
	border-top: 1px solid $C_border;
	@include microClearfix;
	&:first-child{
		border-top: 0;
	}
  // doc-bounds constrains contents to a max-width
  .doc-bounds{
    max-width: 600px;
    margin: 0 auto;
	@include box-sizing(border-box);
  }
}

// doc-section-collection is a special doc-section 
// for collection views (aka: white cards on gray background
.doc-section-collection{
  background: $C_backgroundCollection;
  .doc-bounds{
	padding: $spacing $spacing 0;
  }
}

// doc-card is the white card thing
// it is ONLY used in collection views
.doc-card{
	background: $C_backgroundContent; 
	border: 1px solid $C_border;
	@include background-clip(padding-box);
	@include box-sizing(border-box);
	@include border-radius(3px);
	margin: 0 0 $spacing;
}

// doc-content is the wrapper used just before you start
// seeing "ink" elements, text, images, etc
// provides padding and division
.doc-content{
  padding: $spacing $spacing 1px;
  border-top: 1px solid $C_border;
  &:first-child{
    border-top: 0;
  }
}




/* 
SIMPLIFIED TOUCHLIST ITEMS
They can go directly in to a .doc-card
Just like anything else
TODO: reconcile with production touchlist
*/
.touchlist-item{
  display: table;
  width: 100%;
  border-top: 1px solid $C_border;
  &:first-child{
    border-top: none;
  }
  &:active{
    background: $C_overlayPressed;
  }

  // styles for all the table cells
  // .dummy is an all-purpose general container
  label, input, select, textarea, .icon, .dummy{
    background: none;
    display: table-cell;
    padding: $spacing-small $spacing-small $spacing-small $spacing-small;
    vertical-align: middle;
    @include box-sizing(border-box);
    font-family: "helvetica neue", helvetica, sans-serif;

  
    // keep the padding from stacking up between cells
    &:last-child{
        padding-left: 0;
    }
    &:first-child{
        padding-left: $spacing-small;
    }

    // sometimes things need to flex
    &.flex{
      width: auto;
    }
  }
  .icon{
    width: 1%;
  }

  label{
    width: 10em;
    // hint text is a <span> inside of a label
    .hint{
      display: block;
      font-size: 11px;
      color: $C_textTertiary;
    }
  }

  // form elements
  input, select, textarea{
    @include appearance(none);
    border: none;
    margin: 0;
    outline: 0;
    font-size: 17px;
    width: 100%;
    line-height: 1.3;
  }

  select{
    background-image: url(http://specialsnowflake.com/mup/style/down.png); 
    background-position: right center;
    background-repeat: no-repeat;
  }

  input[type="checkbox"], input[type="radio"]{
    background-position: right center;
    background-repeat: no-repeat;
    width: 48px;
  }
  input[type="checkbox"]{
    background-image: url(http://specialsnowflake.com/mup/style/checkbox.png); 
    &:checked{
      background-image: url(http://specialsnowflake.com/mup/style/checkbox_checked.png); 
    }
  }
  input[type="radio"]{
    background-image: url(http://specialsnowflake.com/mup/style/radio.png); 

    &:checked{
      background-image: url(http://specialsnowflake.com/mup/style/radio_checked.png); 
    }
  }

  ::-webkit-input-placeholder { color: $C_textTertiary; font-style: italic;}
  ::-moz-placeholder { color: $C_textTertiary; font-style: italic;} /* firefox 19+ */
  :-ms-input-placeholder { color: $C_textTertiary; font-style: italic;} /* ie */
  input:-moz-placeholder { color: $C_textTertiary; font-style: italic;}

  // just resetting image styling to align middle
  img{
    margin: 0;
    vertical-align: middle;
  }

}


$thumbs: (20, 30, 40, 80, 120);
@each $thumb in $thumbs{
	.thumb-#{$thumb}{
		background-color: $C_backgroundContentInverted;
		@include background-size(cover);
		display: inline-block;
		margin-bottom: $spacing;
		width: $thumb;
		height: $thumb;
	}
}



/********** extra stuff *************/


// background prototyping helpers
.background-white{
	background: #fff;
}

.background-dark{
  background: $C_backgroundContentInverted;
}

.background-blue{
  background: #209EE5;
}

.background-red{
  background: $C_red;
}

.background-group{
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://specialsnowflake.com/mup/style/mup.jpg);
}

.background-map{
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px; 
  background-image: url( http://maps.google.com/maps/api/staticmap?center=40.7261660,-73.9960227&zoom=16&size=600x400&maptype=roadmap&sensor=false&language=&markers=color:red|label:none|40.7261660,-73.9960227 );
}

#extra-view{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: red;
  @include backface-visibility(hidden);
  @include translateX(100%);
  @include transition(all .3s);
  &.show{
    @include translateX(0);
  }
}
