// STUFF THAT PROBABLY SHOULD BE BE INCORPORATED IN SASSQUATCH

@import 'variables';
@import 'compass/css3';
@import '../bower_components/meetup-swatches/sass/colors';


// ------------ MIXINS ------------
@mixin microclearfix{
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  &:after {
      clear: both;
  }
}



// ------------ INVERTED ------------

.inverted {
  color: $C_textSecondaryInverted;
}

h1, h2, h3, h4, h5, h6{
  color: $C_textPrimary;
  .inverted &{
    color: $C_textPrimaryInverted;
  }
}


.inverted{
    /*
	input, textarea, select{
		border-color: $C_lineGrayInverted;
		background: rgba(0,0,0,.1);
		color: $C_textPrimaryInverted;
	}
    */
}


// ------------ DOC STRUCTURE ------------
.doc-stripe{
    background-color: white;
    border-top: 1px solid $C_border;
    &:first-child{
        border-top: 0;
    }
}

.doc-bounds{
    max-width: 1040px;
    margin: 0 auto;  
    padding: $spacing*2.5 $spacing*2.5 $spacing*1;
    @include microclearfix;
	word-wrap: break-word;
	@include respond-to(handheld){
		padding: $spacing*2 $spacing $spacing*1;
	}
}

.doc-bounds--medium{
    @extend .doc-bounds;
    max-width: 600px;
}

.doc-bounds--narrow{
    @extend .doc-bounds;
    max-width: 420px;
}

@include respond-to(handhelds){
	.doc-bounds{
    	padding: $spacing $spacing 0;
	}
}

.doc-bounds--600{
	max-width: 600px;
}

.doc-box{
	@include background-clip(padding-box);
	border-color: $C_lineGray;
}



/*
.line, .line-gutters{
	display: -webkit-box;
	display: -moz-box;
	display: box;
    .unit{
        display: block;
    }
}
*/

.line-gutters{
    margin-bottom: 0;
}

.line-gutters.wide{
	$s: $spacing*2.5;
	margin-right: -($s);
	& > .unit{
		padding-right: $s;
	}
}

.dividedList > li:first-child{
	border-top: 0;
	padding-top: 0;
}



.doc-content{
    padding-bottom: 0;
    @include microclearfix;
    border-top-color: $C_lineGray;
    .inverted &{
        border-top-color: $C_lineGrayInverted;        
    }
}

// ------------ PAGE ------------
.page{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0,.9);
	@include transition(all .3s);
	z-index: 5;
	&.off{
		@include translate(0, 100%);
	}
	.page-header{
		background: rgba(255,255,255,.1);
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 48px;
		padding: $spacing;
		border-bottom: 1px solid $C_lineGrayInverted;
		@include box-sizing(border-box);
	}
	.page-body{
		min-height: 100%;		
		padding-top: 48px;
		@include box-sizing(border-box);
	}
}

// ------------ PANEL ------------
.panel{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;

	z-index: 5; 
	padding-top: 40px; 
	@include transition(all .15s);
    @include translate3d(0, 0, 0);
    @include backface-visibility(hidden);
	&.off{
		@include scale(.9);
        opacity: 0;
	}
    
    // anything not static positioned needs this. sad but true
    .nametag-photo, .nametag-photo-name, .button, #panel-groupinfo-close{
        @include backface-visibility(hidden);        
    }
}

.shade{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 4;
    background: rgba(0,0,0,.7);
    opacity: 1;
    @include transition(all .15s);
    @include translate(0, 0);
    z-index: 3;
    &.off{
        opacity: .01; 
    }
}



// ------------ MODIFIERS ------------
.big{
	font-size: 18px;
}

.bg-gray{
  background-color: $C_backgroundCollection;
}
.bg-black{
  background-color: #2a2a2a;
}
.bg-red{
	background-color: $C_red;
}

.nobustout{
	overflow: hidden;
}

.breakwords{
	word-wrap:break-word;
}

.margin-minimal{
	margin-bottom: 6px;
}

.less{
	color: $C_textTertiary;
	.inverted &{
		color: $C_textTertiaryInverted;		
	}
}
.clickable{
	cursor: pointer;
}

.nobreak{
	white-space: nowrap;
}

// ------------ NAMETAG ------------
.nametag-photo{
	// too weird to hardcode a pixel width of this
	width: 100%;
	background-position: center 40%;
}

.nametag-photo-name{
	// too restricting to include padding here
	padding: 0;
    padding-top: 20px;
}

// ------------ BLOCK LIST ------------
$has: 6, 5, 4, 3, 2, 1;
.blockList{
	margin: 0 #{-($spacing)} 0 0;
	padding: 0;
	list-style: none;
	> li{
		vertical-align: top;
		display: inline-block;
		width: 50%;
		padding: 0 $spacing $spacing 0;
		margin: 0;
		@include box-sizing(border-box);
	}
	

	@each $h in $has{
		&.has#{$h} > li{ width: percentage(1/$h); }
	}

	@include respond-to(medium-screens){
		@each $h in $has{
			&.has#{$h}-at-medium > li{ width: percentage(1/$h); }
		}
	}
	
	@include respond-to(handheld){
		@each $h in $has{
			&.has#{$h}-at-handheld > li{ width: percentage(1/$h); }
		}
	}


    &.no-gutters{
        margin: 0;
        > li{
            padding: 0;
        }
    }
	
}

// ------------ SQUARES ------------
$thumbs: (20, 30, 40, 50, 60, 80, 120, 160, 240);
@each $thumb in $thumbs{
	.thumb-#{$thumb}{
		$thumbpx: #{$thumb}px;
		background-color: $C_backgroundContentInverted;
		@include background-size(cover);
		display: inline-block;
		margin-bottom: $spacing;
		width: $thumbpx;
		height: $thumbpx;
		background-position: center center;
		
	}
}

// ------------ CIRCLES ------------
$thumbs: (20, 25, 30, 35, 40, 45, 50, 55, 60, 80, 120, 160, 240);
@each $thumb in $thumbs{
	.avatar-#{$thumb}{
		$thumbpx: #{$thumb}px;
		background-color: $C_backgroundContentInverted;
		@include background-size(cover);
		display: inline-block;
		margin-bottom: $spacing;
		width: $thumbpx;
		height: $thumbpx;
		@include border-radius($thumbpx);
		background-position: center center;
	}
}


// ------------ HSCROLL ------------
.hscroll-wrap{
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	.hscroll{
		padding-left: $spacing;
		padding-right: $spacing;
	}
}
.hscroll-wrap-wrap{
	position: relative;
	margin-left: -($spacing);
	margin-right: -($spacing);
	&:before, &:after{
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: $spacing;
		top: 0;
	}
	&:before{
		left: 0;
		@include background-image(linear-gradient(to right, #fff, transparentize(#ffffff, 1) ));
	}
	&:after{
		right: 0;
		@include background-image(linear-gradient(to left, #fff, transparentize(#ffffff, 1) ));
	}
	.bg-black &{
		&:before{
			left: 0;
			@include background-image(linear-gradient(to right, #2a2a2a, transparentize(#2a2a2a, 1) ));
		}
		&:after{
			right: 0;
			@include background-image(linear-gradient(to left, #2a2a2a, transparentize(#2a2a2a, 1) ));
		}
	}
}


// ------------ FIXFLEX ------------
.fixflex{
	display: table;
	width: 100%;
	.fix, .flex{
		display: table-cell;
		vertical-align: top;
        &.vertical-center{
    		vertical-align: middle;            
        }
	}
	.fix{
		width: 1%;
	}
	.flex{
		width: auto;
	}
}


.button-flat, .button-flat--gray, .button-flat--white, .button-flat--black, .button-flat--red, .button-photo, .button-photo--white, .button, button, input[type="submit"], .primary, .button.primary, .button--primary, input[type="submit"].primary, input[type="submit"].button--primary, .button--black, input[type="submit"].button--black, .button--white, .button--blue, input[type="submit"].button--blue{
    padding: 11px 18px 9px 18px;
	line-height: 22px!important;
}

.button-flat{
    @include transition(none);
}

.button--facebook{
	@extend .button;
	background: $C_facebook;
}

.block{
	display: block!important;
}


// ------------ TABS ------------
.tabs{
	line-style: none;
	color : $C_textTertiary;
	margin: 0 0 $spacing;
	padding: 0;
	display: block;
	li{
		$lineh: 4px;
		padding: 0;
		margin: 0 0 0 $spacing;
		cursor: pointer;
		display: inline-block;
		border-bottom: $lineh solid transparent;
		&:first-child{
			margin-left: 0;
		}
		.inverted &{
			color : $C_textTertiaryInverted;			
		}
		&.selected{
			color: $C_red;
			border-bottom: $lineh solid $C_red;
			
		}
	}
	&.full{
		display: table;
        table-layout: fixed;
		width: 100%;
		li{
			display: table-cell;
			margin: 0;
			text-align: center;
		}
	}
}

// PILLS

.pill{
    background: $C_blue;
    color: white;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    line-height: 1em;
    vertical-align: middle;
    font-size: .8em;
    text-transform: uppercase;
}


// FLEXGRID TEST
.grid-test{
	display: -webkit-box;
	display: -moz-box;
	display: box;
    margin-right: -($spacing*2);
    .unit-test{
        padding-right: $spacing*2;
    }
    @include respond-to(handheld){
    	-webkit-box-orient: vertical;
    	-moz-box-orient: vertical;
    	box-orient: vertical;   
    	-webkit-box-direction: reverse;
    	-moz-box-direction: reverse;
    	box-direction: reverse;
        margin-right: 0;
        .unit-test{
            width: auto;
            padding-right: 0;
            padding-bottom: 1px;
        }
    }
}


@mixin linearize{
	margin-right: 0;
	> .unit{
		float: none;
		width: auto;
		padding-right: 0;
	}
}



@include respond-to(handheld){
	
	.line, .line-gutters{
		&.linear-at-handheld, &.linear-at-medium{
			@include linearize;
		}
	}
	
	.block-at-handheld{
		display: block;
		width: 100%;
	}
	
	.hide-at-handheld, .hide-at-medium{
		display: none;
	}
	
	.inlineblock-at-handheld{
		display: inline-block;
	}

	.big{
		font-size: 16px;
	}
    
	.center-at-handheld, .center-at-medium{
        text-align: center;
	}
	

}

@include respond-to(medium-screens){

	.line, .line-gutters{
		&.linear-at-medium{
			@include linearize;
		}
	}
	
	.hide-at-medium{
		display: none;
	}
    
	.center-at-medium{
        text-align: center;
	}
}





/*
TOUCHABLE LIST
*/
.list{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        margin: 0;
        padding: 0;
        border-top: 1px solid $C_border;
        &:first-child{
            border-top: none;
        };
    }
    .list-item{
        padding: $spacing $spacing 0 0;  
        &:first-child{
            padding-left: $spacing;
        }
    }
    a.list-item{
        color: $C_textSecondary;
        text-decoration: none;
    } 
}




/*
ALTERNATE BUTTONS
*/

.button-alt{
	color: #fff;
	font-weight: bold;
	background: $C_blue;
	padding: 12px;
	@include border-radius(100px);
	text-align: center;
	cursor: pointer;
	margin-bottom: $spacing;
	font-size: 18px;
}



/* 
SIMPLIFIED TOUCHLIST ITEMS
They can go directly in to a .doc-card
Just like anything else
TODO: reconcile with production touchlist
*/
ul.doc-box{
	padding: 0;
	margin: 0;
}
.touchlist-item{
  display: table;
  width: 100%;
  border-top: 1px solid $C_border;
  &:first-child{
    border-top: none;
  }
  &:active{
    background: $C_overlayPressed;
  }

  // styles for all the table cells
  // .dummy is an all-purpose general container
  label, input, select, textarea, .icon, .dummy{
    background: none;
    display: table-cell;
    padding: $spacing-small $spacing-small $spacing-small $spacing-small;
    vertical-align: middle;
    @include box-sizing(border-box);
    font-family: "helvetica neue", helvetica, sans-serif;
	@include box-shadow(none);
  
    // keep the padding from stacking up between cells
    &:last-child{
        padding-left: 0;
    }
    &:first-child{
        padding-left: $spacing-small;
    }

    // sometimes things need to flex
    &.flex{
      width: auto;
    }
  }
  .icon{
    width: 1%;
  }

  label{
    width: 10em;
    // hint text is a <span> inside of a label
    .hint{
      display: block;
      font-size: 11px;
      color: $C_textTertiary;
    }
  }

  // form elements
  input, select, textarea{
    @include appearance(none);
    border: none;
    margin: 0;
    outline: 0;
    font-size: 17px;
    width: 100%;
    line-height: 1.3;
  }

  select{
    background-image: url(http://specialsnowflake.com/mup/style/down.png); 
    background-position: right center;
    background-repeat: no-repeat;
	height: auto;
  }

  input[type="checkbox"], input[type="radio"]{
    background-position: right center;
    background-repeat: no-repeat;
    width: 48px;
  }
  input[type="checkbox"]{
    background-image: url(http://specialsnowflake.com/mup/style/checkbox.png); 
    &:checked{
      background-image: url(http://specialsnowflake.com/mup/style/checkbox_checked.png); 
    }
  }
  input[type="radio"]{
    background-image: url(http://specialsnowflake.com/mup/style/radio.png); 

    &:checked{
      background-image: url(http://specialsnowflake.com/mup/style/radio_checked.png); 
    }
  }
	
$C_textTertiary: #999;	
  ::-webkit-input-placeholder { color: $C_textTertiary; font-style: italic;}
  ::-moz-placeholder { color: $C_textTertiary; font-style: italic;} /* firefox 19+ */
  :-ms-input-placeholder { color: $C_textTertiary; font-style: italic;} /* ie */
  input:-moz-placeholder { color: $C_textTertiary; font-style: italic;}

  // just resetting image styling to align middle
  img{
    margin: 0;
    vertical-align: middle;
  }

}
