@import 'compass/css3';
@import 'variables';

.icon_close_alt2{
    color: #bbb;
}
.icon_check_alt, .icon_profile{
    color: $C_blue;

}
.actions{
    border-left: 1px dotted lighten($C_lineGray, 50%);
    background: $C_backgroundNav;
    min-width: 40px;
    text-align: center;
    white-space: nowrap;
    .action{
        font-size: 24px;
        margin-bottom: 12px;
        display: inline-block;
        text-decoration: none!important;
    }
}


// generic fillable icon
.fillable{
    height: 38px;
    width: 34px;
    margin: 0 auto;
    background-position: center center;
	display: inline-block;
}
.filled{
    @extend .fillable;
    @include transform(scale(0) rotate(120deg));
    @include transition(all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55) ); 
    &.on{
         @include transform(scale(1) rotate(0deg));
    } 
}

// specific fillable for follow
.followable{
    background-image: url(../css/follow_divided.svg); 
    .filled{
        background-image: url(../css/following_divided.svg);       
    }
    
    .primary &{
        background-image: url(../css/follow_divided_white.svg); 
    }
}

.followlabel{
    text-transform: uppercase;
    font-size: 8px;
    color: #aaa;
    text-align: center;
    display: inline-block;
}
.group{
    .fix{
        text-align: center;
        border-left: 1px solid #eee;
        padding: 12px 8px;
        min-width: 56px;
    }
}





@mixin linearize{
	margin-right: 0;
	> .unit{
		float: none;
		width: auto;
		padding-right: 0;
	}
}


@include respond-to(handheld){

	
	.line, .line-gutters{
		&.linear-at-handheld, &.linear-at-medium{
			@include linearize;
		}
	}
	
	.hide-at-handheld, .hide-at-medium{
		display: none;
	}
	

	.big{
		font-size: 16px;
	}
    
	.center-at-handheld, .center-at-medium{
        text-align: center;
	}
}

@include respond-to(medium-screens){

	
	.line, .line-gutters{
		&.linear-at-medium{
			@include linearize;
		}
	}
	
	.hide-at-medium{
		display: none;
	}
    
	.center-at-medium{
        text-align: center;
	}
}

@include respond-to(wide-screens){

}


#apptabs{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    @include box-sizing(border-box);
}


/* STOP BEING SO BAD */

